.render {
  text-align: center;
  color: #B84181;
  text-shadow: #FAA262 2px 2px;
}
.main-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
a {
  color: #B84181;
}
a:hover {
  color: #FAA262;
  text-shadow: #B84181 1px 1px;
}
#buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.links {
  display: flex;
  flex-direction: left;
  justify-content: center;
}
.container-each {
  width: 88vw;
  /* height: 30rem; */
  display: flex;
  flex-direction: column;
  /* overflow: scroll; */
  margin: 3em;
}
#resume {
  width: 86vw;
}
iframe {
  width: 85vw;
  height: 49vw;
}
img {
  width: 85vw;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
